body {
    margin: 0;
    padding: 0;
    background-color: #727272;
    background-image: repeating-linear-gradient(-45deg, #6a6a6a 0, #6a6a6a 2px, #727272 2px, #727272 11px);
}
a {
    text-decoration: none;
}
/*HEADER */
header {
    margin: 0;
    text-align: center;
    font-family: 'Orbitron', 'sans-serif';
    background-color: #202020;
    height: 75px;
}

header h1 {
    margin: 0;
    color: #1E90FF;
    padding: .5rem;
    font-size: 2.5rem;
    font-weight:900;
}
/*NAV */
nav {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    padding: 1%;
    background-color: rgba(32,32,32,.8);
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

nav label {
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 5px;


}

nav label input {
    height: 90%;
    width: 85%;
    background-color: rgba(32,32,32, .5);
    padding-left: 10px;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;

}

nav label input:focus {
    outline: none;
}

/*MAIN */

main {
    font-family: "Fira Sans","Trebuchet MS","Ubuntu", Helvetica,Arial sans-serif;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 1%;
}
main h1 {
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
}
#descDiv {
    padding-left: 3%;
}
main .nextLink {
    display: flex;
    justify-content: space-between;
}

table {
    color: #404040;
    box-sizing: border-box;
    
}
tr, td, th {
    border-collapse: collapse;
    color: #404040;
    
    padding: 5px;
    
}
#cardBox {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#picID {
    display: block;
}
#picID img{
    display: block;
    width: 80%;
    margin: 0 auto;

}
#stats2Div {
    grid-column-start: span 2;
    margin: 0 auto;
}

/* MAIN Tables*/
.barTd {
    min-width: 500px;
}
.barTd div {
    height: 30%;
}
#baseStatsTable tbody:last-child div{
    background-color: none;
}

